@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Oswald', sans-serif;
    background: #1A1E27;

}

#NavbarSection {
    background: #161815;
}

.nav-link {
    font-size: 19px;
    font-weight: 400;
    color: #909090;
    margin-left: 30px;
}

.nav-link:hover {
    color: #e76671 !important;

}

.active {
    color: #e76671 !important;
}

.HomeTitle h1 {
    color: #FFF;
    font-size: 88px;
    font-weight: 600;
    width: 852px;
    text-align: center;
    margin-left: 250px;
    margin-top: 80px;

}

.homeText {
    color: #6DE754;
    text-align: center;
    font-size: 88px;
    font-weight: 600;
    width: 852px;
}

.HomeTitle p {
    color: #909090;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 474px;
    margin-left: 420px;
    margin-top: 20px;
    letter-spacing: 0.32px;
}

.HomeBox a input {

    width: 567px;
    padding: 8px 0px 8px 16px;
    gap: 4px;
    border-radius: 5px;
    border-style: none;
}

.HomeBox a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;

    color: #909090;
}

.HomeBox button {
    position: absolute;
    margin-left: 450px;
    border-style: none;
    color: #1F392C;
    font-size: 16px;
    font-weight: 6=300;
    line-height: 20px;
    letter-spacing: 0.16px;
    border-radius: 12px;
    background: #6DE754;
    display: flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.HomeRowBox {
    padding: 0;
    border-radius: 12px;
    background: #1E201D;
    margin-left: 60px;
    margin-top: 60px;
    height: 204px;
    width: 361px;
}

.HomeRowBox:hover {
    -webkit-box-shadow: 0px 0px 7px 8px rgba(109, 231, 84, 0.17);
    -moz-box-shadow: 0px 0px 7px 8px rgba(109, 231, 84, 0.17);
    box-shadow: 0px 0px 7px 8px rgba(109, 231, 84, 0.17);
    transition: 0.5s;
}

.HomeRowBox h5 {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.32px;
    margin-left: 24px;
}

.HomeRowBox p {
    color: #909090;
    font-size: 16px;
    margin-left: 24px;
    width: 313px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.32px;
    margin-top: 16px;
    margin-bottom: 34px;
}

.HomeRowBox i {
    color: #6DE754;
    font-size: 24px;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
}

.Faster {
    background: #6DE754;
    margin-top: 40px;
    height: 941px;
    width: 100%;
}

.FasterText h2 {
    padding-top: 70px;
    text-align: center;
    margin-left: 500px;
    font-size: 48px;
    font-weight: 600;
    color: #000;
    width: 420px;

}

.FasterText h1 {
    color: #000;
    text-align: center;
    font-size: 152px;
    font-weight: 600;
}

.FasterText p {
    color: #000;
    text-align: center;
    font-size: 16px;
    width: 474px;
    margin-left: 471px;
    margin-bottom: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.FasterText img {
    margin-top: 20px;
    width: 90%;
    margin-left: 65px;
}

.spendtext h3 {
    color: #FFF;
    font-size: 48px;
    text-align: center;
    width: 420px;
    font-weight: 600;
    margin-top: 80px;
    margin-left: 545px;
}

.spendtext p {
    color: #909090;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    width: 358px;
    margin-left: 576px;
    margin-top: 20px;
    letter-spacing: 0.32px;
}

.spendtext button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid #6DE754;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.16px;
    margin-top: 15px;
    margin-left: 655px;
    margin-bottom: 44px;
}

.spendtext button:hover {
    background: #6DE754;
    transition: .6s;
    -webkit-box-shadow: 0px 0px 7px 9px rgba(222, 240, 218, 0.05);
    -moz-box-shadow: 0px 0px 7px 9px rgba(222, 240, 218, 0.05);
    box-shadow: 0px 0px 7px 9px rgba(222, 240, 218, 0.05);
}
.HomeRowTwo{
    margin-bottom: 80px;
}
#Cover{
    background: #6DE754;
    height: 1120px;
}
.CoverText h2{
    color: #000;
width:  456px;
margin-left: 85px;
    font-size: 48px;
    font-weight: 400;
    margin-top: 115px;
}
.CoverText p{
    color: #000;
    width: 456px;
font-size: 16px;
margin-left: 85px;
font-weight: 400;
line-height: 22px; 
margin-top: 24px;
letter-spacing: 0.32px;
}
.CoverText button{
    display: flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 10px;
margin-left: 85px;
border-radius: 12px;
margin-top: 20px;
border: 1px solid #161815;
background-color: transparent;
}
.CoverText button:hover{
    background: #e6e5e5;
transition: 0.5s;
}
.CoverImg{
    margin-top: 40px;
}
#Free{
    background: #263238;
}
.CoverText h2 {
    color: #FFF;
}
.CoverText p{
    color: #909090;
}
.FreeButton{


    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid #6DE754;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.16px;
    margin-top: 15px;
    margin-left: 655px;
    margin-bottom: 44px;
}
.FreeButton:hover{
    background: #6DE754;
    transition: .6s;
    -webkit-box-shadow: 0px 0px 7px 9px rgba(192, 241, 181, 0.05);
    -moz-box-shadow: 0px 0px 7px 9px rgba(189, 248, 176, 0.05);
    box-shadow: 0px 0px 7px 9px rgba(222, 240, 218, 0.05);
}
.Free{
    background: #263238;

}
.CoverText{
    margin-bottom: 100px;
}